html
    include shared/head
    body
        include shared/header
        h1 Home Page
        p Welcome to the home page
        a(href="/about") About
        a(href="/contact") Contact

        include shared/footer